.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #007bff;
}

h2 {
  margin-top: 20px;
  color: #007bff;
}

.bookings-container {
  margin-top: 20px;
}

.filter-select {
  margin-bottom: 20px;
}
